*{
    background-color: black;
}
#home{
    height: 79vh;

}
body > header {
    position: relative;
    height: 100px;
    box-shadow: 5px 6px 10px 1px rgba(0, 0, 0, 0.062);
    z-index: 1;
    display: flex;
    justify-content: right;
    right: 85px;

}
header > nav {
    font-size: 30px;
    font-weight: 70;
    color: white;
}

header > nav > ul > li {
    display: inline;
    margin-left: 35px;
    margin-right: 20px;
    cursor: pointer;
}

header > nav > ul > li:hover {
    color: #4bffa5;
}
main>section:nth-child(1)>div{
    position: absolute;
    top: 45px;
    margin: auto;
    left: 0;
}
#begin{
    position: relative;
    top: 100px;
    margin: auto;
    left: 860px;

}
#begin>h1{
    color: white;
    font-size: 150px;
    margin-bottom: 0;
}
#begin>h2{
    color: white;
    font-size:65px;
    margin-bottom: 0;
    margin-top: 0;
}
#begin>h2>span{
    color: #4BFFA5;
    font-size:65px;
    margin-bottom: 0;
    margin-top: 0;
}
#begin>h3{
    color: white;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}
#link{
    display: flex;
    width: max-content;
    height: 469px;
    justify-content: space-between;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 35px;


}
#link>image{
    width: 10px;
    margin: 4px;
    cursor: pointer;
}
#link>h1 {
    width: 1px;
    height: 142px;
    bottom: 280px;
    top: 514px;
    position: absolute;
    background-color: white;
}
#link>h2 {
    width: 1px;
    height: 142px;
    bottom: 280px;
    top: -216px;
    position: absolute;
    background-color: white;
}
#about{
    height: 300vh;

}
/*
#about > header {
    position: relative;
    height: 100px;
    box-shadow: 5px 6px 10px 1px rgba(0, 0, 0, 0.062);
    z-index: 1;
    display: flex;
    justify-content: right;
    right: 85px;

}
#about> header > nav {
    font-size: 30px;
    font-weight: 70;
    color: white;
}

#about header > nav > ul > li {
    display: inline;
    margin-left: 35px;
    margin-right: 20px;
    cursor: pointer;
}

#about header > nav > ul > li:hover {
    color: #4bffa5;

}*/

#about>div>img{
    width: 540px;
    position: absolute;
    left: 58px;
    top: 1168px;

}
#about>div>h1{
    position: relative;
    width: 1920px;
    height: 134px;
    left: 0px;
    top: -1px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: #A4B0BE;
}
#about>div>h2{
    position: relative;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: -112px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
}
#about>div>h2>span{
    position: absolute;
    width: 270px;
    height: 0px;
    left: 808px;
    top: 105px;
    border: 3px solid #4BFFA5;
}
#about>div>h3{
    position: relative;
    width: 233px;
    height: 59px;
    left: 663px;
    top: -144px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #4BFFA5;
}
#about>div>h4{
    position: relative;
    width: 1117px;
    height: 140px;
    left: 663px;
    top: -200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;

}
#about>div>h4>span{
    color: #4BFFA5;
}
#about>div>p1{
    position: relative;
    width: 1129px;
    height: 215px;
    left: 663px;
    top: -290px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 43px;
    color: #747D8C;
}
#about>div>p1>h1{
    position: relative;
    width: 1103px;
    height: 0px;
    left: -11px;
    top: -34.00999999999999px;
    border: 1px solid #FFFFFF;
}
#about>#detail>h1{
    position: relative;
    width: 140px;
    height: 46px;
    left: 630px;
    top: -354px;;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;

}
#about>#detail>h1>span{
    position: absolute;
    width: 317px;
    height: 56px;
    left: 137px;
    top: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #A4B0BE;
}
#about>#detail>h2{
    position: relative;
    width: 140px;
    height: 0;
    left: 638px;
    top: -330px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
}
#about>#detail>h2>span{
    position: absolute;
    width: 317px;
    height: 56px;
    left: 137px;
    top: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #A4B0BE;
}
#about>#detail>h3{
    position: relative;
    width: 234px;
    height: 68px;
    left: 1439px;
    top: -464px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
}
#detail>h3>span{
    position: absolute;
    width:  257px;;
    height: 0;
    left: 112px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #A4B0BE;

}
#detail>#age{
    position: relative;
    width: 118px;
    height: 103px;
    left: 1439px;
    top: -479px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
}
#detail>#age>span{
    position: relative;
    /* width: 0; */
    /* height: 0; */
    left: 38px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #A4B0BE;
}
#about>#findMe{
    position: relative;
    display: flex;
    width: max-content;
    /* height: 349px; */
    width: 375px;
    justify-content: space-between;
    z-index: 100;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 80px;
    top: 1834px;
    bottom: -1039px;
    margin: auto;
    margin-right: 10px;
}
#findMe>image{
    width: 10px;
    margin: 4px;
    cursor: pointer;
}
#about>#findMe>h1 {
    position: absolute;
    width: 178px;
    height: 0px;
    left: -229px;
    top: 3px;
    border: 3px solid white;
}
#about>#cv{
    position: absolute;
    width: 419px;
    height: 88px;
    left: 694px;
    top: 1834px;
    background: #000000;
    border: 5px solid #4BFFA5;
    box-sizing: border-box;
    border-radius: 150px;

}
#about>#cv>span{
    position: absolute;
    width: 85px;
    height: 85px;
    left: 325px;
    top: -3px;
    border-radius: 49px;
    background: #4BFFA5;
}
#about>#cv>h1{
    position: absolute;
    width: 273px;
    height: 60px;
    left: 40px;
    top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}
#about>#cv>img{
    position: absolute;
    width: 64px;
    height: 55px;
    left: 339px;
    top: 14px;
    background-color: #4BFFA5;
}
#skill>div>h1{
    position: absolute;
    width: 1912px;
    height: 54px;
    left: 22px;
    top: 1940px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: #A4B0BE;


}
#skill>div>h2{
    position: absolute;
    width: 1920px;
    height: 94px;
    left: 15px;
    top: 1952px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #FFFFFF;
}
#skill>div>h2>span{
    position: absolute;
    width: 270px;
    height: 0px;
    left: 822px;
    top: 97px;
    border: 2px solid #4BFFA5;
}
#service>div>h1{
    position: absolute;
    width: 1981px;
    height: 54px;
    left: -29px;
    top: 2582px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: #A4B0BE;
}
#service>div>h2{
    position: absolute;
    width: 1920px;
    height: 94px;
    left: 14px;
    top: 2650px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0;
}
#service>div>h2>span{
    position: absolute;
    width: 270px;
    height: 0px;
    left: 823px;
    top: 99px;
    border: 2px solid #4BFFA5;
}
#service>#box{
    position: relative;
    width: 680px;
    height: 357px;
    left: 51px;
    top: -914px;
    border: 1px solid white;
}
#service>#box>img{
    position: relative;
    width: 269px;
    height: 142px;
    left: 199px;
    top: 0px;
}
#service>#box>h1{
    position: relative;
    width: 511px;
    height: 59px;
    left: 93px;
    top: -57px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}
#service>#box>h1>span{
    position: relative;
    width: 568px;
    height: 59px;
    left: -1px;
    top: -9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: #A4B0BE;
}